<section class="cadastro container reveal">
  <h2>Cadastre-se</h2>

  <form class="form-cadastro">
    <input type="text" placeholder="Seu nome" required>
    <input type="email" placeholder="Seu e-mail" required>
    <input type="cpf" placeholder="Seu CPF" required>
    <input type="telefone" placeholder="Seu Telefone" required>
    <input type="dataNasc" placeholder="Sua data de nascimento" required>
    <input type="endereco" placeholder="Seu endereço" required>
    <input type="cidade" placeholder="Sua cidade" required>
    <input type="estado" placeholder="Seu estado" required>
    <input type="cep" placeholder="Seu CEP" required>
    <button type="submit" class="btnEnviar">Enviar</button>
  </form>
</section>
