:root {
  --blue-100: #e0f7ff;
  --blue-300: #5ac8fa;
  --blue-600: #0077b6;
  --blue-800: #023e8a;
  --green-400: #80ed99;
  --white: #ffffff;
  --gray-100: #f5f5f5;
  --gray-700: #333333;

  --font-main: "Poppins", sans-serif;
}
